html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Saira Extra Condensed, sans-serif;
}
h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 8rem;
    color: #eecc00;
    margin: 3rem;
    padding: 1.5rem;
}

h3 {
    font-size: 6rem;
    line-height: 4rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3rem;
    margin: 0rem;
    padding: 1rem;
    font-weight: 400;
}

h5.main-page {
    text-align: center;
}

h5.schedule{
    margin-bottom: -4rem;
    padding-left: 0rem;
    font-weight: 200;
}

h6 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: 5%;
    margin-bottom: -1rem;
    
}

#subtitle {
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: -4rem;
    margin-bottom: -2rem;
}

p {
    font-family: Spectral, Georgia, serif;
    font-size: 2rem;
    color: black;
    margin-bottom: -2rem;
 }

ul {
    font-family: Spectral, Georgia, serif;
    font-size: 2rem;
    color: black;
    list-style-type: square;
 }


a {
    font-family: Spectral, Georgia, serif;;
    font-size: 2rem;
    color: #222222;
    transition: 200ms;
    line-height: 2.5rem;
 }

#home {
    font-family: Saira Extra Condensed, sans-serif;
    text-align: center;
    font-size: 10rem;
    line-height: 8rem;
    color: #eecc00;
    margin: 3rem;
    padding: 1.5rem;
    text-decoration: none;
}

a:hover {
    color: #eecc00;
}

#main-menu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
    width: 80%;
    height: 40px;
}


.main-nav {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem;
    transition: 50ms;
}

a.main-nav:hover {
    color: #eecc00;
}
a.schedule:link{
    font-family: Saira Extra Condensed, sans-serif;
    font-size: 3.6rem;
    text-decoration: none;
    color: #ee0000;
    transition: 100ms;
}
a.schedule:visited {
    color: #ee0000;
}
a.schedule:hover {
    color: #eecc00;  
}

#simple-bc {
    width: 50%;
    text-align: center;
    margin: 50px auto 0 auto;
    
}

#simple-diag {
    width: 100%;
    height: 100%;
}

ul.artists {
    list-style: none;
}

#schedule {
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    width: 70%;
}
#artists {
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    width: 70%;
}

div.session {
    width: 100%; 
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-bottom: 10px;
}

div.even {
    background-color: rgba(20, 20, 20, .1);
}

div.session::after {
    content: "";
    display: block;
    clear: both;
}

div.session-left {
    width: 48%;
    margin-right: auto;
    margin-left: auto;
    float:left;
}

div.session-right {
    width: 48%;
    margin-right: auto;
    margin-left: auto;
    float:right;
}

.resources {
    font-size: 1.2em;
}


